In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [16]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [17]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite", echo=False)

In [18]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect = True)

In [19]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [20]:
measures = Base.classes.measurement
stations = Base.classes.station

In [21]:
# Create our session (link) from Python to the DB
sess = Session(engine)

# Exploratory Precipitation Analysis

In [39]:
# Find the most recent date in the data set.
inspector = inspect(engine)
cols = inspector.get_columns('measurement')
for x in cols:
    print(x['name'], x['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [53]:
latest_date = sess.query(measures.date).\
                        order_by(measures.date.desc()).\
                        limit(1).all()[0][0]
print(latest_date)

2017-08-23

In [58]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database.

# Calculate the date one year from the last date in data set.

querydate = dt.date(2017,8,23) - dt.timedelta(days=365)

# Perform a query to retrieve the data and precipitation scores
data = sess.query(measures.id, measures.station, measures.date, measures.prcp, measures.tobs).\
        filter(measures.date > querydate).\
        order_by(measures.date).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
data_df = pd.DataFrame(data).rename(columns={0:"id",1:"station",2:"date",3:"precipitation",4:"temperature"}).set_index(["date"])

data_df
# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

               id      station  precipitation  temperature
date
2016-08-24   2365  USC00519397           0.08         79.0
2016-08-24   5092  USC00513117           2.15         76.0
2016-08-24   7332  USC00514830           2.28         80.0
2016-08-24   8826  USC00517948            NaN         78.0
2016-08-24  11852  USC00519523           1.22         79.0
...           ...          ...            ...          ...
2017-08-22  19549  USC00516128           0.50         76.0
2017-08-23   2724  USC00519397           0.00         81.0
2017-08-23   7635  USC00514830           0.00         82.0
2017-08-23  12187  USC00519523           0.08         82.0
2017-08-23  19550  USC00516128           0.45         76.0

[2223 rows x 4 columns]

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()